body {
  background-color: azure;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #522852;
}

main {
  padding: 2%;
}

.centered {
  text-align: center;
}

/**** HEADER ****/
.main-header {
  height: 50px;
  background-color: #522852;
  top: 0;
  left: 0;
  padding: 0 3%;
}

.main-header_nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header_item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header_item {
  margin: 0 1rem; /* dont ask why i used rem, it worked better */
  padding: 0;
}

.main-header_item-list_right {
  list-style: none;
  /* margin: 0; */
  /* margin-right: 15px; */
  padding: 0;
  display: flex;
}

.main-header_item-list_right a {
  text-decoration: none;
  color: white;
}

.main-header_item_right {
  color: yellow;
}

.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a.active {
  color: salmon;
}

.main-header_item a {
  text-decoration: none;
  color: azure;
}

/**** FORM ****/
.product-form {
  width: 60%;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 5px 0px;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input
.form-control textarea {
  border: 1px solid #522852;
  border-radius: 8px;
  height: 25px;
  font: inherit;
}

.form-control input:focus
.form-control textarea:focus {
  outline: #522852;
  border-radius: inherit;
}

button {
  font: inherit;
  border: 1px solid #522852;
  background: #522852;
  color: whitesmoke;
  border-radius: 8px;
  /* margin-top: 5px; */
  cursor: pointer;
  padding: 3px 5px;
}

button:hover,
button:active {
  background-color: #803b80;
}
